<launch>
  <!-- ============== -->
  <!-- Node arguments -->
  <!-- ============== -->
  <arg name="vehicle_namespace" default="sim" />
  <arg name="preprocessor" default="easy_birdseye" />
  <arg name="lane_detector" default="kmeans" />
  <arg name="lane_name" default="northbound" />
  <arg name="redlight_behavior" default="adaptive" />
  <arg name="measure_comfort" default="false" />

  <!-- =============== -->
  <!-- Topic arguments -->
  <!-- =============== -->
  <arg name="preprocessor_in_topic" value="camera/image_raw" />
  <arg name="preprocessed_img_topic" value="lane_preprocessed_img" />
  <arg name="lane_twist_topic" value="desired_twist" />

  <!-- ================================================================== -->

  <!-- =================== -->
  <!-- =================== -->
  <!--       Vehicle       -->
  <!-- =================== -->
  <!-- =================== -->

  <!-- ~~~~~~~~~~ -->
  <!-- Simulation -->
  <!-- ~~~~~~~~~~ -->
  <group if="$(eval arg('vehicle_namespace') == 'sim')">
    <include file="$(find architecture_launches)/launch/lotH_simulator.launch">
      <arg name="preprocessor" value="$(arg preprocessor)" />
      <arg name="lane_detector" value="$(arg lane_detector)" />
    </include>
  </group>

  <!-- ~~~~~ -->
  <!-- ACTor -->
  <!-- ~~~~~ -->
  <group unless="$(eval arg('vehicle_namespace') == 'sim')" ns="$(arg vehicle_namespace)">
    <!-- Start DBW -->
    <include file="$(find dbw_polaris_can)/launch/dbw.launch">
      <arg name="load_urdf" value="false" />
      <arg name="can_ns" default="$(eval '/' + arg('vehicle_namespace') + '/can_bus_dbw')" />
    </include>

    <!-- GPS Setup (specific to vehicle) -->
    <group if="$(eval arg('vehicle_namespace') == 'actor1')">
      <include file="$(find piksi_multi_cpp)/launch/rover.launch">
        <arg name="ns" value="reference" />
        <arg name="device_ids" value="tcp://192.168.0.222:55555" />
      </include>

      <include file="$(find piksi_multi_cpp)/launch/rover.launch">
        <arg name="ns" value="attitude" />
        <arg name="device_ids" value="tcp://192.168.0.223:55555" />
      </include>
    </group>

    <group if="$(eval arg('vehicle_namespace') == 'actor2')">
      <include file="$(find piksi_multi_cpp)/launch/rover.launch">
        <arg name="ns" value="reference" />
        <arg name="device_ids" value="tcp://192.168.60.30:55555" />
      </include>

      <include file="$(find piksi_multi_cpp)/launch/rover.launch">
        <arg name="ns" value="attitude" />
        <arg name="device_ids" value="tcp://192.168.60.31:55555" />
      </include>
    </group>

    <!-- Camera setup (specific to vehicle) -->
    <group if="$(eval arg('vehicle_namespace') == 'actor1')">
      <include file="$(find simple_camera_publisher)/launch/camera_publisher.launch">
        <arg name="source"
          value="/dev/v4l/by-id/usb-Arducam_Technology_Co.__Ltd._USB_2.0_Camera_SN0001-video-index0" />
      </include>
    </group>
    <group if="$(eval arg('vehicle_namespace') == 'actor2')">
      <include file="$(find simple_camera_publisher)/launch/camera_publisher.launch">
        <arg name="source"
          value="/dev/v4l/by-id/usb-Sonix_Technology_Co.__Ltd._USB_2.0_Camera_SN0001-video-index0" />
      </include>
    </group>

    <!-- Preprocessor -->
    <include file="$(find architecture_launches)/launch/packages/preprocessor.launch">
      <arg name="preprocessor" value="$(arg preprocessor)" />
      <arg name="preprocessor_in_topic" value="/$(arg vehicle_namespace)/cam_pub/image_raw" />
      <arg name="preprocessed_img_topic" value="$(arg preprocessed_img_topic)" />
    </include>

    <!-- Lane detector -->
    <include file="$(find architecture_launches)/launch/packages/lane_detector.launch">
      <arg name="lane_detector" value="$(arg lane_detector)" />
      <arg name="preprocessed_img_topic" value="$(arg preprocessed_img_topic)" />
      <arg name="lane_twist_topic" value="$(arg lane_twist_topic)" />
    </include>

    <!-- Distance calculation for Vehicle Controller (always runs!!! no matter adaptive or stopping)-->
    <node
      name="distance_calculation"
      pkg="gps_pkg"
      type="distance_calculation.py"
      required="true"
      output="screen"
    >
      <param name="lane_name" type="str" value="$(arg lane_name)" />
    </node>

    <!-- Create Vehicle Controller -->
    <node
      if="$(eval arg('redlight_behavior') == 'adaptive')"
      name="vehicle_controller"
      pkg="vehicle_controllers_pkg"
      type="ulc_v2x_noyellow_vc.py"
      required="true"
      output="screen"
    >
      <param name="lane_twist_in_topic" type="str" value="$(arg lane_twist_topic)" />
      <param name="lane_name" type="str" value="$(arg lane_name)" />
      <param name="distance_from_intersection_topic" type="str" value="distance" />
    </node>
    <node
      if="$(eval arg('redlight_behavior') == 'stop')"
      name="vehicle_controller"
      pkg="vehicle_controllers_pkg"
      type="ulc_v2x_stop_at_red_vc.py"
      required="true"
      output="screen"
    >
      <param name="lane_twist_in_topic" type="str" value="$(arg lane_twist_topic)" />
      <param name="lane_name" type="str" value="$(arg lane_name)" />
      <param name="distance_from_intersection_topic" type="str" value="distance" />
    </node>

    <!-- Comfortability Metrics -->
    <group if="$(eval arg('measure_comfort'))">
      <node
        name="comfortability_metrics"
        pkg="gps_pkg"
        type="comfortability_metrics.py"
        required="true"
        output="screen">
      </node>

      <!-- Rosbag Recorder -->
      <node
        name="rosbag_recorder" pkg="rosbag"
        type="record"
	      args="-o /home/reu-actor/reu_ws/comfort_bags/$(arg redlight_behavior)_$(arg lane_detector)_$(arg lane_name) 
        /$(arg vehicle_namespace)/imu /$(arg vehicle_namespace)/acceleration 
        /$(arg vehicle_namespace)/distance /$(arg vehicle_namespace)/velocity 
        /light/$(arg lane_name)/state /light/$(arg lane_name)/time_to_next_state"
        required="true"
        output="screen">
      <!-- NOTE: Namespaces are messed up for the comfort node. This is a hack fix. -->
      </node>
    </group>

    <!-- Open RQT Console -->
    <node
      name="rqt_console"
      pkg="rqt_reconfigure"
      type="rqt_reconfigure"
      args="-t"
    />
  </group>

  <!-- Rosboard -->
  <include file="$(find rosboard)/launch/rosboard.launch"></include>

</launch>
