build/
devel/
logs/
.catkin_tools/
src/ethz_piksi_ros/libsbp_ros_msgs/src/libsbp_ros_msgs/__pycache__/*
src/rosboard/rosboard/__pycache__/*
src/rosboard/rosboard/subscribers/__pycache__/*
src/architecture/lane_detectors_pkg/scripts/DeepLSD/**/__pycache__/*
