#!/usr/bin/env python3
PACKAGE = "v2x_sim"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("thresh",                  int_t,    0, "Thresh Value", 211, 0, 255)
gen.add("speed", double_t, 0, "Speed of car",    1.0, 0.0,   5.0) # default, min, max
gen.add("enable_drive",            bool_t,   0, "Enable",       False)

exit(gen.generate(PACKAGE, "follow_line", "FollowLane"))
# The 3rd param "StopAtCw" must be this filename

