<launch>
  <arg name="source" default="" />
  <arg name="flip" default="true" />

  <!-- launch the node -->
  <node name="cam_pub" pkg="simple_camera_publisher" type="cam_pub" respawn="true"
    respawn_delay="10" output="screen">
    <param name="source" type="string" value="$(arg source)" />
    <group unless="$(eval arg('flip') == 'false')">
      <param name="hflip" type="bool" value="true" />
    </group>
  </node>
</launch>
