<launch>

  <!--MAP-->
  <param name="map_dir" value="$(find v2x_sim)/map" />
  <rosparam command="load" file="$(find v2x_sim)/map/intersection.yaml" />

  <!--RSU-->
  <node name="rsu"  pkg="v2x_sim" type="rsu.py" output="screen" /> 

  <!--ROBOTS-->
  <rosparam>
    robot_list: ["robot1", "robot2"]
  </rosparam>
  
  <!--Robot 1-->
  <group ns="robot1">
    <node name="vc_node" pkg="figure_8_sim" type="vc.py" required="true" output="screen">  
      <param name="pose_name" type="str" value="odom" />  
      <param name="lane_name" type="int" value="1" />
    </node>
    <node name="follow_lane_node"  pkg="figure_8_sim" type="follow_lane.py" required="true" output="screen"> 
      <param name="imgtopic_name" type="str" value="camera/image_raw" /> 
    </node>
    <rosparam command="load" file="$(find figure_8_sim)/robot/ACTor.yaml" />
    <rosparam>
        Xr_init: 30.26
        Yr_init:  -15.8
        Theta_init: deg(90.0)
        
    </rosparam>
  </group>

  <!--Robot 2-->
  <group ns="robot2">
    <node name="vc_node" pkg="figure_8_sim" type="vc.py" required="true" output="screen">  
      <param name="pose_name" type="str" value="odom" />  
      <param name="lane_name" type="int" value="2" />
    </node>
    <node name="follow_lane_node"  pkg="figure_8_sim" type="follow_lane.py" required="true" output="screen"> 
      <param name="imgtopic_name" type="str" value="camera/image_raw" /> 
    </node>
    <rosparam command="load" file="$(find figure_8_sim)/robot/ACTor.yaml" />
    <rosparam>
        Xr_init: 13.60
        Yr_init:  -0.83
        Theta_init: deg(0.0)
    </rosparam>
  </group>
  
  <!--GAZELLE SIM-->
  <include file="$(find gazelle_sim)/launch/gazelle_sim.launch"></include>

</launch>