<launch>
    <!-- Lane Following -->
    <!-- <include file="$(find follow_line_pkg)/launch/advanced_dbw_follow_lane.launch" ></launch> -->

    <!-- Actor 2-->
    <group ns="actor2">
        <!-- Params -->
        
        <include file="$(find follow_line_pkg)/launch/advanced_dbw_follow_lane.launch" ></launch>
        <param name="light_ns" type="str" value="north" />
        <node name="vc_node" pkg="vehicle_pkg" type="vc.py" required="true" output="screen">
        </node>
    </group>


</launch>