<launch>

    <!-- Actor **Working** Launch -->
    <!-- Actor 1 has to change camera id in their simple_camera_publisher/launch/example.launch -->
    <!-- Launch DBW seperate terminal -->
    <!-- Launch rosboard in different terminal -->

    <!-- <group ns="actor2">
        <include file="$(find follow_line_pkg)/launch/advanced_dbw_follow_lane.launch" />
        <node name="vc_node" pkg="vehicle_pkg" type="vc.py" required="true" output="screen">
            <param name="light_ns" type="string" value="south" />
        </node>
    </group> -->

    <!-- NEW LAUNCH-->
    <!-- Actor1: roslaunch vehicle_pkg demo.launch actor1:=true-->
    <!-- Actor2: roslaunch vehicle_pkg demo.launch -->

    <!-- Input Arguments -->
    <arg name="actor1" default="false" />

    <!-- Load the actor related launch file -->
    <group if="$(arg actor1)">
        <include file="$(find vehicle_pkg)/launch/actor_1.launch" />
    </group>
    <group unless="$(arg actor1)">
        <include file="$(find vehicle_pkg)/launch/actor_2.launch" />
    </group>

    <!-- ROS Board -->
    <!-- <include file="$(find rosboard)/launch/rosboard.launch" /> -->

</launch>
