<launch>
    <!-- Actor 1 -->

    <!-- Piksi Multi GPS -->
    <!-- <include file="$(find piksi_multi_cpp)/launch/rover.launch">
        <arg name="ns" value="reference" />
        <arg name="device_ids" value="tcp://192.168.0.222" />
    </include>

    <inlcude file="$(find piksi_multi_cpp)/launch/rover.launch">
        <arg name="ns" value="attitude" />
        <arg name="device_ids" value="tcp://192.168.0.223" />
    </include> -->

    <!-- Actor 2 -->
    <!-- Piksi Multi GPS -->
    <!-- <include file="$(find piksi_multi_cpp)/launch/rover.launch">
        <arg name="ns" value="reference" />
        <arg name="device_ids" value="tcp://192.168.0.30" />
    </include>

    <inlcude file="$(find piksi_multi_cpp)/launch/rover.launch">
        <arg name="ns" value="attitude" />
        <arg name="device_ids" value="tcp://192.168.0.31" />
    </include> -->

</launch>