<launch>

  <!-- ################## -->
  <!--  Launch Arguments  -->
  <!-- ################## -->
  <!-- Open dynamic reconfigure window -->
  <arg name="show_dynamic_reconfigure" default="true" />

  <!-- Launch the robot steering gui -->
  <arg name="show_steering" default="false" />

  <!-- Launch the robot camera parameter gui -->
  <arg name="show_cam_param" default="false" />


  <!-- ################ -->
  <!--  Required Nodes -->
  <!-- ################ -->
  <!-- The directory of the GazelleSim package -->
  <param name="gazelle_sim_package_dir" value="$(find gazelle_sim)" />

  <node name="gazelle_sim_node" pkg="gazelle_sim"
        type="gazelle_sim_node" required="true" output="screen"/>  


  <!-- ################ -->
  <!--  Optional Nodes -->
  <!-- ################ -->
  <!-- Dynamic reconfigure -->
  <group if="$(arg show_dynamic_reconfigure)">
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_console" args="-t"/>
  </group>


  <!-- Steering -->
  <group if="$(arg show_steering)" >
    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
      <param name="default_topic" value="cmd_vel" />
    </node>
  </group>


  <!-- Camera Parameter Node -->
  <group if="$(arg show_cam_param)" >
    <node name="robot_param_node" pkg="gazelle_sim"
    type="robot_param_adjust.py" output="screen">
    </node>
  </group>

</launch>
