#!/usr/bin/env python

PACKAGE = 'gazelle_sim'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Numeric values using sliders
# General syntax is:
#   gen.add('var_name', type, 0, 'Display Name', default, low, high)

# Robot control parameters
gen.add('camera_border',  bool_t,   0, 'Cam Border On',             False)
gen.add('lidar_active',   bool_t,   0, 'Lidar On',                  False)
gen.add('lidar_max_dst',double_t,   0, 'Lidar Max Dist',    3.5,   0,  10)
gen.add('lidar_mkr_size',  int_t,   0, 'Lidar Mkr Size',      7,   0,  20)
gen.add('gps_waypoints',  bool_t,   0, 'Display GPS Waypoints',     False)

# Obstruction control parameters
gen.add('exterior_walls', bool_t,   0, 'Exterior Walls', False)
gen.add('obstructions',   bool_t,   0, 'Obstructions',    True)
gen.add('dyn_load_obs',   bool_t,   0, 'Dynamic Load Obstructions', False)

col_enum = gen.enum( [ 
        gen.const("None",      int_t, 0, "No collision check"),
        gen.const("Soft",      int_t, 1, "Soft collision check"),
        gen.const("Hard",      int_t, 2, "Hard collision check"),
    ], "An enum to set collision")

gen.add("collision_type", int_t, 0, "Collision", 0, 0, 2, edit_method=col_enum)

gen.add('draw_origin',       bool_t,    0, 'Draw Origin',      True)
gen.add('pen_down',          bool_t,    0, 'Pen Down/Up',      False)
gen.add('reset_sim',         bool_t,    0, 'Reset Sim',        False)

exit(gen.generate(PACKAGE, 'gazelle_sim', 'GazelleSim'))
