<launch>

  <!-- ==================== -->
  <!-- GazelleSim Arguments -->
  <!-- ==================== -->
  <arg name="show_dynamic_reconfigure" default="true" />


  <!-- ========================= -->
  <!-- Set simulation parameters -->
  <!-- ========================= -->
  <param name="map_dir" value="$(find v2x_simulator)/map" />
  <rosparam command="load"
            file="$(find v2x_simulator)/map/map.yaml" />


  <!-- ============= -->
  <!-- Define robots -->
  <!-- ============= -->
  <rosparam>
    robot_list: ["robot1"]
  </rosparam>
  
  <!-- Define robot1 -->
  <group ns="robot1">
    <node
      name="preprocessor"
      pkg="preprocessors_pkg"
      type="preprocessor.py"
      required="true"
      output="screen"
    >
      <param name="img_in_topic" type="str" value="camera/image_raw" />
      <param name="img_out_topic" type="str" value="image_preproc" />
    </node>
    <node name="node1" pkg="v2x_simulator" type="lane_follow3.py" 
       required="true" output="screen">
    	<param name="imgtopic_name" type="str" value="camera/image_raw" />   
    </node>
    <rosparam command="load"
              file="$(find v2x_simulator)/robot/ACTor.yaml" />
    <rosparam>
        Xr_init: 18.36
        Yr_init:  -12.79
        Theta_init: deg(0.0)
    </rosparam>
  </group>
  
  <!-- ================= -->
  <!-- Launch GazelleSim -->
  <!-- ================= -->
  <include file="$(find gazelle_sim)/launch/gazelle_sim.launch">
    <arg name="show_dynamic_reconfigure" value="$(arg show_dynamic_reconfigure)" />
  </include>


</launch>
