<launch>

  <!-- ==================== -->
  <!-- GazelleSim Arguments -->
  <!-- ==================== -->
  <arg name="show_dynamic_reconfigure" default="true" />
  <arg name="show_steering" default="false" /> 
  <arg name="show_cam_param" default="false" />
 
 
  <!-- ========================= -->
  <!-- Set simulation parameters -->
  <!-- ========================= -->
  <param name="map_dir" value="$(find gazelle_sim_waypoint_course)/map" />
  <rosparam command="load"
      file="$(find gazelle_sim_waypoint_course)/map/waypoint_course.yaml" />


  <!-- ============= -->
  <!-- Define robots -->
  <!-- ============= -->
  <rosparam>
    robot_list: ["robot1", "robot2"]
  </rosparam>

  <!-- Define robot1 -->
  <group ns="robot1">
    <rosparam command="load"
              file="$(find gazelle_sim)/robot/basic_differential_circ.yaml" />
    <rosparam>
        Xr_init: 0.5
        Yr_init: 0.5
        Theta_init: deg(0.0)
    </rosparam>
  </group>


  <!-- Define robot2 -->
  <group ns="robot2">
    <rosparam command="load"
              file="$(find gazelle_sim)/robot/basic_differential_circ.yaml" />
    <rosparam>
        Xr_init: 8.5
        Yr_init: 0.5
        Theta_init: deg(180.0)
        robot_color: [200, 15, 255]    
    </rosparam>
  </group>


  <!-- ================= -->
  <!-- Launch GazelleSim -->
  <!-- ================= -->
  <include file="$(find gazelle_sim)/launch/gazelle_sim.launch">
    <arg name="show_dynamic_reconfigure" value="$(arg show_dynamic_reconfigure)" />
    <arg name="show_steering" value="$(arg show_steering)" />
    <arg name="show_cam_param" value="$(arg show_cam_param)" />
  </include>

    
</launch>
